{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="container px-5 py-5">
    <header class="pb-5">
        <p>
            Witaj na stronie, gdzie możesz tworzyć i przeglądać listy prezentów dla bliskich!
            Sprawdź, co chcą dostać inni, zarezerwuj prezent albo dodaj własne marzenia.
        </p>
    </header>

    <nav>
        <a href="{% url 'login' %}" class="btn btn-secondary">Zaloguj się</a></h3> /
        <a href="/check_gifts" class="btn btn-secondary">Sprawdź listę prezentów</a></h3>
    </nav>

</div>

{% endblock %}




