{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

<div class="content-wrapper">
        <div class="text-center">
          <h4>Rodzinna lista życzeń</h4>
          <h6 class="font-weight-light pb-4">Zaloguj się aby kontynuować</h6>
        </div>
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <p class="mb-0">{{ form.non_field_errors.0 }}</p>
            </div>
        {% endif %}

        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>

        <button type="submit" class="btn btn-primary w-100">Zaloguj się</button>
    </form>

</div>

{% endblock %}
