{% load form_tags %}

<form id="edit-user-data-form">
    {% csrf_token %}
    <div class="container py-3">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label text-start"
                   for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            <div class="col-sm-9">
                {{ form.first_name|add_class:"form-control" }}
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label text-start"
                   for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            <div class="col-sm-9">
                {{ form.last_name|add_class:"form-control" }}
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label text-start"
                   for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            <div class="col-sm-9">
                {{ form.email|add_class:"form-control" }}
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label text-start"
                   for="{{ form.birth_date.id_for_label }}">{{ form.birth_date.label }}</label>
            <div class="col-sm-9">
                {{ form.birth_date|add_class:"form-control" }}
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label text-start"
                   for="{{ form.name_day.id_for_label }}">{{ form.name_day.label }}</label>
            <div class="col-sm-9">
                {{ form.name_day|add_class:"form-control" }}
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label text-start"
                   for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            <div class="col-sm-9">
                {{ form.description|add_class:"form-control" }}
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Zapisz zmiany</button>
</form> 